
* {
    padding: 0px auto;
    margin: 0px auto;
}


/* Start of Nav */

.nav{
    background-color: #353536;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.nav-title{
    color: white;
    margin: 0px 0px 0px 374px;
    font-family: 'Roboto', sans-serif;
}

.nav-links{
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.nav-links > li > a {
    margin: 20px;
    color:lightgray;
    text-decoration: none
}

.nav-links > li > .active{
    color: white;
}

.nav-links > li{
    list-style: none;;
}

.btn {
    margin-right: 20px;
    margin-left: 200px;
    background-color: teal;
    color: white;
    border:black;
    border-radius: 2px;
    border-style: solid;
    box-shadow: 5px 10px black;
}

/* User ID section */

.container{
    display: inline-block;
    width: 600px;
    height: 500px;
    padding: 0px 0px;
    margin: 20px 20px;
}

.topbar{
    width: 100%;
    height: 127px;
    background-color: teal;
}

.border{
    border-style: solid;
    border-width: 3px;
    border-top: none;
    padding: 10px;
    border-color: gainsboro;
}
.profile{
    width: 149px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -56px 0px -1px 39px
}

h1{
    margin: 20px 0px 20px 41px;
    
}
.city{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px 40px 41px;
    
}
h3{
    margin: 0px 0px 0px 20px;
}

h4{
    margin: 20px 0px 20px 39px;
}

img {
    width: 30px;
    margin: 0px 0px 0px 0px;
}

.edit{
    display: flex;
    margin: 0px 0px 0px 38px;
    align-content: center;
}

a{
    margin: 6px;
}

/* Start of Side bars */

.sidebars{
    height: 576px;
    display: inline-block;
    vertical-align: top;
    background-color: teal;
    margin: 20px 0px 0px 33px;
}

.firstbartop{
    width: 419px;
    height: 84px;
    background-color: black;
}

.firstbar{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    align-content: flex-start;
    width: 400px;
    height:200px;
    background-color: skyblue;
    padding-left: 10px;
    padding-right: 10px;

}

.connectionR{
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 86px;
    color: white;
}

#name{
    margin: 0px 20px 0px 10px;
}
.profilePic{
    width: 80px;
    margin: 10px 0px 10px 0px;
    justify-content: left;
}

.imgSide{
    margin-right: 5px;
    margin-left: 0px;
    justify-content: right;
}