.Search{
    background-color: white;
    color: teal;
    margin: 60px;
    margin-bottom: 10px;
    border: 2px solid teal;
    border-radius: 20px;
    font-size: 300%;
    padding-left: 50px;
    padding-right: 50px;
}

.Plus{
    background-color: green;
    color: white;
    margin-left: 60px;
    border: 20px solid green;
    border-radius: 50%;
    font-size: 300%;
}

.Create{
    background-color: blue;
    color: white;
    margin-left: 60px;
    margin-top: 10px;
    border: 2px solid black;
    font-size: 300%;
    box-shadow: 10px 5px 5px black;
}