.Search{
    background-color: white;
    color: teal;
    margin: 60px;
    border: 2px solid teal;
    border-radius: 20px;
    font-size: 300%;
}

.Plus{
    background-color: green;
    color: white;
    margin: 60px;
    border: 20px solid green;
    border-radius: 50%;
    font-size: 300%;
}